.wrapper {
  margin-right: auto; 
  margin-left:  auto; 

  max-width: 90%; 
  
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

.jumbotron {
  margin-top: 0.1em;
  width: 100%;
  height: 7%;
}

.jumbotron1 {
  margin-top: 1em;
  min-height: 420px; 
  width: 100%;
}

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  /*line-height: 0.5em;*/
  /* max-height = line-height (0.5) * lines max number (30) */
  max-height: 420px;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}

/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-indent: 10px transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
}

