{# This simple template derives from ``base.html``. See ``base.html`` for
more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
utils module here to automatically render Flask's flashed messages in a
bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
This will keep scripts at the page end and a navbar you add on later
intact. #}
{% block content %}
<div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
  <div class="row">
    <div class="col-md-12">
      {{utils.flashed_messages(messages)}}
    </div>
  </div>
  {%- endif %}
  {%- endwith %}
  <div class="jumbotron">
    <h1>Finished!</h1>
    <h4>You have reached the end of the uploaded file. Please download the labeled data by clicking the button below.</h4>
    <a href="{{ url_for('.return_files_tut', filename = res_filename) }}"><button class='btn btn-default'>Download</button></a>
    <h4>If you wish to delete your data from our servers, please click on the delete button below. Please remember to
      download the labelled data before deleting!</h4>
    <a href="{{ url_for('.delete_files', orig_filename = orig_filename, filename = res_filename) }}"><button class='btn btn-default'>Delete</button></a>
  </div>
</div>
{% endblock %}
